<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
</p>


<p>
  <%= @tweet.tweet %>
</p>


<p>
  <strong>Comments:</strong>
  <%= @tweet.comments.all %>
</p>

<p>
  <%= link_to "Add a comment", new_comment_path(:tweet_id=>@tweet.id) %>
</p>
<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
